@model IEnumerable<TestMVC.Models.Student>

    <div class="row">
        <div class="col-12">
        <a class="btn btn-primary float-end" asp-action="AddEdit">Add New</a>
        </div>

    </div>


<div class="row">
    <table>
        <thead>
            <tr>
                <th>
                    FullName
                </th>
                <th>
                    RollNo
                </th>
                <th>
                    Class
                </th>
                <th>
                    Email
                </th>
                <th>
                    PhoneNumber
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var items in Model)
            {
                <tr>
                    <td>
                        @items.FullName
                    </td>
                    <td>
                        @items.RollNo
                    </td>
                    <td>
                        @items.Class
                    </td>
                    <td>
                        @items.Email
                    </td>
                    <td>
                        @items.PhoneNumber
                    </td>
                    <td>
                        <a class="btn btn-primary" asp-action="AddEdit" asp-route-id="@items.Id"><i title="Edit" class="fas fa-edit"></i></a>
                        <a class="btn btn-secondary" asp-action="Detail" asp-route-id="@items.Id">Detail</a>
                        <a class="btn btn-danger" asp-action="Remove" asp-route-id="@items.Id">Delete</a>
                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-6">

        <a class="btn mt-2 btn-secondary" asp-action="Index">Back to List</a>

    </div>

    

</div>